* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

header {
  background-color: #1f1e1e;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.buscador {
  display: flex;
  gap: 10px;
  align-items: center;
}

.login-register {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.arriba {
  display: flex;
  align-items: center;
}



.logo {
  display: inline-block;
  text-decoration: none;
}

.imgLogo {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}





.padre {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 40px;
  background-color: #f5f3f0;
  gap: 40px;
}

.hijotexto h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hijotexto p {
  font-size: 16px;
  color: #555;
  margin-bottom: 20px;
}

.boton {
  background-color: #2c2c2c;
  color: white;
  padding: 12px 30px;
  text-decoration: none;
}

.hero-imagen img {
  width: 350px;
  height: auto;
}








.franja {
  background-color: #2c2c2c;
  color: white;
  text-align: center;
  padding: 40px 20px;
  margin: 0 20px;
  border-radius: 20px;
}

.franja h2 {
  margin-bottom: 20px;
  font-size: 26px;
}

.layoutIndex {
  display: flex;
  margin-top: 80px;
}

.columnaTitulo {
  display: flex;
  flex-direction: column;
  
}




.productos-random {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}


.productos-random article {
 width: 220px;
 border-width: 1px;
border-style: solid;
border-color: black;
  border-radius: 8px;
  padding: 15px;
  background-color: #aaa4a4;
}


.productos-random img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 4px;
}

.productos-random h2{ 
    margin-bottom: 10px;
}




.ver-detalle {
  display: flex;
  margin-top: 10px;
  color: #000;
  font-weight: bold;
justify-content: center;


}








.productos-aleatorios {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

body{ background-color: #f6f3f3; }


.mas-vendidos {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.mas-vendidos article {
 width: 220px;
 border-width: 1px;
border-style: solid;
border-color: black;
  border-radius: 8px;
  padding: 15px;
  background-color: #aaa4a4;
}


.mas-vendidos img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 4px;
}

.mas-vendidos h2{ 
    margin-bottom: 10px;
}

.masvendido{
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  
}

.precio{
  font-weight: bold;
  color: #000;
  margin-top: 10px;
}








footer {
  background-color: #1f1e1e;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
color: #fff;
}

.form-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.linkOscuro {
  color: #000;
}

.detalle-producto {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.detalle-producto img {
  width: 410px; 
  height: auto;
}

.info-producto {
  max-width: 700px;
}

.info-producto p {
  margin-bottom: 20px;
}

.tags {
  display: flex;
  gap: 10px;
}

.tags li {
  background-color: rgb(103, 97, 97);
  padding: 5px 10px;
  border-radius: 5px;
}

.reviews {
  margin-top: 30px;
  padding: 20px;
}


.review {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
}